rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
    match /fs-users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid
    }
    // Allow full access tp flutter content
    match /flutter-content-models/{documents=**} {
      allow read, write: if true;
    }
    match /flutter-content-apps/{documents=**} {
      allow read, write: if true;
    }
    // Allow only authenticated content owners access
    match /fs-users/{uid}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid
    }
    // Allow only r/o access to sample flowcharts
    match /fs-users/zmOV8IerE4Rn8EyYpp56TrUi7qG2/{documents=**} {
      allow read, write: if request.auth != null
    }
  }
}